*{
margin:0;
padding:0;
}

body{
background-color: #FFFFFF;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#site{
	/* Definimos a largura da página */
	width:100%;
	/* Definirmos a altura da página*/
	height:650px;
	/* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
	/*top : posição de cima */
	margin-top:0;
	/* left: posição de esquerda*/
	margin-left:auto;
	/* bottom : posição de baixo */
	margin-bottom:0;
	/* right : posição de direita */
	margin-right:auto;
	/* Aqui definiremos a cor de fundo da página */

}

#header{
	/*Novamente definimos a largura da div*/
	width:100%;
	/* altura da div */
	height:50px;
	/* Cor de fundo da div */
	background-color:#000000;
	color: #FFFFFF;
	
	}
#conteudo{
	/*Novamente definimos a largura da div*/
	width:100%;
	/* altura da div */
	height:668px;
	/* Cor de fundo da div */
	background-color:#D3D3D3;
	
}	
#footer{
	/*Novamente definimos a largura da div*/
	width:100%;
	/* altura da div */
	height:50px;
	/* Cor de fundo da div */
	background-color:#000000;
color: #FFFFFF;
	}

#box {
background-color: #000000;
color: #FFFFFF;
border: 5px solid black;
border-radius: 5px;

}

.primeira-div {
background-color:#000000;
font-size:15;
color: #FFFFFF;
font-weight:bold;
border: 5px solid black;
border-radius: 5px;
}

.segunda-div {
border-radius: 5px;
}

.terceira-div{
background-color:#000000;
font-size:15;
color: #FFFFFF;
border: 5px solid black;
border-radius: 5px;
}

.quarta-div {
background-color:#000000;
font-size:15;
color: #FFFFFF;
font-weight:bold;
border: 5px solid black;
border-radius: 5px;
padding: 9px;
height: 8px;
margin: 0 auto;
resize: both;

}

#boxa {
background-color: #000000;
color: #FFFFFF;
border: 5px solid black;
border-radius: 5px;
font-size:20;
margin:+7px;
}
#cart{
position: absolute;
right: 0.5%;
}
#config{
position: absolute;
right: 4%;

}



/*

espaço entre as células(Cellspacing) 
espaço dentro da célula (Cellpadding)>*/